/***************************************************
    Fundrabbit.com landing page theme
***************************************************
***************************************************
                  Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
   margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

a img {
   border: none
}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/***************************************************
                  Global styles
***************************************************/

html {
    width: 100%;
    height: 100%;
}

body {
   font-family: 'Dosis', sans-serif;
    font-size: 13px;
    background-color: white;
    color: #575757;
    margin: 0 0 1px; height: 100%; 
    line-height: 1.7;
    border-top: 10px solid #eebf53;
}

.bg {
    background:#f1f1eb;
}


p {
    margin-top: 3px;
}
    
a, p a {
    text-decoration: underline;
    color: white;
    
}
    
a: hover {
   color: white;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: normal;
    position: relative;
    
}

h1 {
    font-size: 86px;
    line-height: 90px;
    color: #2ab5b4;
    text-align: left;
    margin-bottom: 13px;
    padding-bottom: 15px;
    font-weight:400;
    width:500px; 
    padding-top:40px; 
    float:left;
}

h1 span {
    font-size: 25px;
    line-height: 12px;
    color: #666666;
    margin-left: 10px;
}
    
h2 {
    font-size: 22px;
    line-height: 1.5;
    color: #126267;
    text-align: left;
    margin-bottom: 7px;
    padding-bottom: 12px;
}
    
h3 {
    font-size: 18px;
    line-height: 0.9;
    color: #575757;
    text-align: left;
    margin-bottom: 6px;
    padding-bottom: 5px;
}

h4 {
    font-size: 18px;
    line-height: 0.9;
    color: #CC3333;
    text-align: left;
    float:left;
    line-height:25px;
    margin-bottom: 8px;
    padding-top: 3px;
}

/***************************************************
                Main containers
***************************************************/

#container, #container_left, #container_right {
    position: relative;
    width: 100%;
}
    
#container {
    position: relative;
    width: 980px;
    margin: 0 auto;
    background-color: transparent;
    min-height: 100%;
}

.group1 {
    float: left;
    width: 274px;
    position: relative;
    background: transparent;
    padding: 15px;
    margin-bottom: 10px;
}
    
.group2 {
    float: left;
    width: 274px;
    position: relative;
    background: transparent;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
}
    
.group3 {
    float: right;
    width: 274px;
    position: relative;
    background: transparent;
    padding: 15px;
    }

.group4 {
    float: left;
    width: 950px;
    position: relative;
    padding: 15px;
    margin-top: -14px;
    margin-bottom: 25px;
    background: transparent;
    border-top: 1px solid #A3A3A3;
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
    column-count: 3;    
    -moz-column-gap: 40px; /* Firefox */
    -webkit-column-gap: 40px; /* Safari and Chrome */
    column-gap: 40px;    
    -moz-column-rule: 1px solid #A3A3A3; /* Firefox */
    -webkit-column-rule: 1px solid #A3A3A3; /* Safari and Chrome */
    column-rule: 1px solid #A3A3A3;
}
    
header {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
}
    

/***************************************************
                   Specific
***************************************************/

#logo {
    position: relative;
   float: left;
    left: 0px;
    width: 167px;
    height: 43px;
    top: 52px;
}

.clearing {
    clear: both;
    display: inline;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.intro-text{
    float:left;
}

.hero{
    width:400px; 
    float:left; 
    margin-left:0px; 
    margin-top:-80px;
}

.left {
    width:45%;
    margin-top:40px;
    float:left;
}

.right {
    width:45%;
    float:right;
    background:#fff;
    margin-top:20px;
    padding:20px;
    opacity:0.9;
}

.email-input {
    border:1px solid #eebf53;
    padding:10px;
    font-size:20px;
    width:270px;
    background-color:#f7edd7;
}

.email-submit {
    border:1px solid #09F;
    cursor:pointer;
    padding:10px;
    font-size:20px;
    width:140px;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #ff2819 0%,
        #ab0000);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ff2819),
        to(#ab0000));
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #7d0000;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}

.email-submit:hover {
    background: -moz-linear-gradient(
        top,
        #ab0000 0%,
        #ff2819);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ab0000),
        to(#ff2819));
}

.email-submit:active {
    background: -moz-linear-gradient(
        top,
        #ab0000 0%,
        #ff2819);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ab0000),
        to(#ff2819));
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

#intro {
    width: 980px;
    position: relative;
    float: left;
    height: auto;
    background: transparent;
    margin-top: 25px;
    margin-bottom:40px;
}

a.icon{
    padding:5px;
    text-decoration:none;
    
}

a.icon span{
    opacity:0;
    position:absolute;
    z-index:9999;
    text-align:center;
    min-width:50px;
    font-size:12;
    font-weight:700;
    padding:18px 5px 18px 5px;
    text-decoration:none;
    background-color:#333;
    margin-left:-45px;
    margin-top:15px;
    border-radius: 50px; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.icon:hover span{
    opacity:1;
    margin-top:35px;
    min-width:50px;
}

#t{
    background-color:#00ced3;
}

#f{
    background-color:#00636a;
}

#e{
    background-color:#f5c000;
}

/***************************************************
                    Footer
***************************************************/

footer {
    position: relative;
    height: 90px;
    clear: both;
    width: 980px auto;
    margin-bottom: 18px;
    background-color:#fff;
    opacity:0.9;
}

#FooterTwo {
    float:left;
    margin-top: 26px;
    color: #777;
}

#FooterTree {
    float: right;
    margin-top: 26px;
    color: #777;
}

.container {
   width: 980px;
   margin: 0 auto;
    background-color: #33CC99;
}
?